<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (custumer) {
      <div>
        <h2 data-cy="custumerDetailsHeading"><span jhiTranslate="ebaxquebecApp.custumer.detail.title">Custumer</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ custumer.id }}</span>
          </dd>
          <dt><span jhiTranslate="ebaxquebecApp.custumer.nameCustumer">Name Custumer</span></dt>
          <dd>
            <span>{{ custumer.nameCustumer }}</span>
          </dd>
          <dt><span jhiTranslate="ebaxquebecApp.custumer.adress">Adress</span></dt>
          <dd>
            <span>{{ custumer.adress }}</span>
          </dd>
          <dt><span jhiTranslate="ebaxquebecApp.custumer.phone">Phone</span></dt>
          <dd>
            <span>{{ custumer.phone }}</span>
          </dd>
          <dt><span jhiTranslate="ebaxquebecApp.custumer.email">Email</span></dt>
          <dd>
            <span>{{ custumer.email }}</span>
          </dd>
          <dt><span jhiTranslate="ebaxquebecApp.custumer.service">Service</span></dt>
          <dd>
            @if (custumer.service) {
              <div>
                <a [routerLink]="['/service', custumer.service.id, 'view']">{{ custumer.service.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/custumer', custumer.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
